<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" style="opacity: 0.8">
  <a class="navbar-brand" href="/"><img alt="La Liga logo" th:src="@{/images/laLigaLogo.jpg}" class="logo" style="opacity: 0.8"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Register and login -->
    <th:block sec:authorize="!isAuthenticated()">

      <ul class="navbar-nav mr-auto col-12 justify-content-end">

        <li class="nav-item">
          <a class="nav-link" th:href="@{/users/register}">Register &#9997;</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/users/login}">Login &#9756;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/info}">Info &#8520;</a>
        </li>

      </ul>

    </th:block>

    <th:block sec:authorize="isAuthenticated()">
      <ul class="navbar-nav mr-auto col-12 justify-content-end">

        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link" th:href="@{/administrationPanel}">Administration Panel</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/teams}">Leaderboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/stadiums}">Stadiums</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/referees/all}">Referees</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/players/all}">Players</a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <div class="form-inline my-2 my-lg-0 px-3">
            <div class="text-white" style="margin-right: 15px;">Welcome, <th:block sec:authentication="name"></th:block>!</div>
            <form method="POST" th:action="@{/users/logout}"  class="form-inline my-2 my-lg-0 border px-3">
              <input class="btn btn-link nav-link" type="submit" value="Logout &rAarr;">
            </form>
          </div>
        </li>

      </ul>
    </th:block>

  </div>
  <h5 id='clock' style="color: white;"></h5>
</nav>

<script type="text/javascript" src="/js/clock.js">
</script>

</body>
</html>