<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>


<body style="background-image: url('/images/maintenance.jpg')">

<div th:replace="~{fragments/navigation :: navigation}">
    Navbar
</div>

<div class="container">

    <a href="javascript:history.back()" class="back-button">Back</a>

    <h2 class="text-center text-dark">ADD NEW REFEREE</h2>
    <form
            th:method="POST"
            th:action="@{/administrationPanel/addReferee}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center" >
        <div class="row">
            <div class="form-group col-md-4">
                <label for="name" class="text-white font-weight-bold">Name</label>
                <input
                        id="name"
                        name="name"
                        type="text"
                        class="form-control"
                        min="2" max="30"
                        placeholder="Name"
                        required/>
            </div>
            <div class="form-group col-md-4">
                <label for="lastName" class="text-white font-weight-bold">Last name</label>
                <input
                        id="lastName"
                        name="lastName"
                        type="text"
                        class="form-control"
                        min="2" max="30"
                        placeholder="Last name"
                        required/>
            </div>
            <div class="form-group col-md-4">
                <label for="dateOfBirth" class="text-white font-weight-bold">Date of birth</label>
                <input id="dateOfBirth"
                       name="dateOfBirth"
                       type="date"
                       class="form-control"
                       placeholder="0000-00-00"
                       required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="placeOfBirth" class="text-white font-weight-bold">Place of birth</label>
                <input id="placeOfBirth"
                       name="placeOfBirth"
                       type="text"
                       class="form-control"
                       min="2" max="40"
                       placeholder="Place of birth"
                       required/>
            </div>
            <div class="form-group col-md-4">
                <label for="position" class="text-white font-weight-bold">Position</label>
                <input id="position"
                       name="position"
                       type="text"
                       class="form-control"
                       value="Referee"
                       disabled/>
            </div>
            <div class="form-group col-md-4">
                <label for="photoUrl" class="text-white font-weight-bold">Photo URL</label>
                <input id="photoUrl"
                       name="photoUrl"
                       type="text"
                       min="5" max="40"
                       class="form-control"
                       placeholder="images/..."
                       required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="flagUrl" class="text-white font-weight-bold">Flag URL</label>
                <input id="flagUrl"
                       name="flagUrl"
                       type="text"
                       class="form-control"
                       min="5" max="40"
                       placeholder="Flag URL"
                       required/>
            </div>
            <div class="form-group col-md-4">
                <label for="laLigaDebut" class="text-white font-weight-bold">La Liga debut</label>
                <input id="laLigaDebut"
                       name="laLigaDebut"
                       type="date"
                       min="4" max="15"
                       class="form-control"
                       placeholder="000-00-00"
                       required/>
            </div>
            <div class="form-group col-md-4">
                <label for="fifaDebut" class="text-white font-weight-bold">FIFA debut</label>
                <input id="fifaDebut"
                       name="fifaDebut"
                       type="date"
                       min="4" max="15"
                       class="form-control"
                       placeholder="images/..."
                       required/>
            </div>
        </div>

        <div th:if="${errorFields}"
             class="errors alert alert-danger">
            Incorrect value in the fields:
            <div th:each="error : ${errorFields}">
                <p th:text="${error}" style="text-transform: uppercase" />
            </div>
        </div>

        <div th:if="${success}"
             class="alert-success p-2 m-2 text-center">
            <h4>Referee added!</h4>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Add referee"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
