<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}">
</head>
<body style="background-image: url('/images/laLigaCover.png')">

<div>
  <nav th:replace="~{fragments/navigation :: navigation}"></nav>
</div>

<div class="text-center" style="position: absolute; bottom: 5px; padding: 5px; color: #ffffff">
  <h3>The Campeonato Nacional de Liga de Primera División,[a] commonly known simply as Primera División in Spain,
    and as La Liga[b] in English-speaking countries and officially as LaLiga Santander for sponsorship reasons,
    stylized as LaLiga, is the men's top professional football division of the Spanish football league system.
    Administered by the Liga Nacional de Fútbol Profesional,[c] it is contested by 20 teams, with the three
    lowest-placed teams at the end of each season being relegated to the Segunda División and replaced by the top two teams and a play-off winner in that division.

    Since its inception, a total of 62 teams have competed in La Liga. Nine teams have been crowned champions, with Barcelona winning the inaugural
    La Liga and Real Madrid winning the title a record 35 times, most recently in the 2021–22 season. During the 1940s Valencia,
    Atlético Madrid and Barcelona emerged as the strongest clubs, winning several titles. Real Madrid and Barcelona dominated the championship
    in the 1950s, each winning four La Liga titles during the decade. During the 1960s and 1970s, Real Madrid dominated La Liga, winning
    fourteen titles, with Atlético Madrid winning four. During the 1980s and 1990s Real Madrid were prominent in La Liga, but the Basque
    clubs of Athletic Club and Real Sociedad had their share of success, each winning two Liga titles. From the 1990s onward, Barcelona
    have dominated La Liga, winning sixteen titles to date. Although Real Madrid has been prominent, winning ten titles, La Liga has also
    seen other champions, including Atlético Madrid, Valencia, and Deportivo La Coruña. </h3>
</div>

<div>
  <footer></footer>
</div>

</body>
</html>