<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}">
</head>
<body style="background-image: url('/images/laLigaCover.png')">

<div>
  <nav th:replace="~{fragments/navigation :: navigation}"><div id='clock' style="display: inline-block; max-width: 180px; padding: 50px; font-family: monospace, monospace"></div></nav>
</div>
<div class="container">
  <div class="row" style="bottom: 5px; padding: 5px; color: #ffffff">
    <h3>The Campeonato Nacional de Liga de Primera División, commonly known simply as Primera División in Spain,
      and as La Liga in English-speaking countries and officially as LaLiga Santander for sponsorship reasons,
      stylized as LaLiga, is the men's top professional football division of the Spanish football league system.
      Administered by the Liga Nacional de Fútbol Profesional, it is contested by 20 teams, with the three
      lowest-placed teams at the end of each season being relegated to the Segunda División and replaced by the top two teams and a play-off winner in that division.

      Since its inception, a total of 62 teams have competed in La Liga. Nine teams have been crowned champions, with Barcelona winning the inaugural
      La Liga and Real Madrid winning the title a record 35 times, most recently in the 2021–22 season. During the 1940s Valencia,
      Atlético Madrid and Barcelona emerged as the strongest clubs, winning several titles. Real Madrid and Barcelona dominated the championship
      in the 1950s, each winning four La Liga titles during the decade. During the 1960s and 1970s, Real Madrid dominated La Liga, winning
      fourteen titles, with Atlético Madrid winning four. During the 1980s and 1990s Real Madrid were prominent in La Liga, but the Basque
      clubs of Athletic Club and Real Sociedad had their share of success, each winning two Liga titles. From the 1990s onward, Barcelona
      have dominated La Liga, winning sixteen titles to date. Although Real Madrid has been prominent, winning ten titles, La Liga has also
      seen other champions, including Atlético Madrid, Valencia, and Deportivo La Coruña. </h3>
  </div>

  <hr style="height:2px; width:70%; border-width:0; color:#ffffff; background-color:black">

  <div>
    <div class="row" style="bottom: 5px; padding: 5px; color: #ffffff">
      <img alt="Training" src="/images/training.jpg" />
      <h4 style="padding: 5px">Carlo Ancelotti's Real Madrid players continue their preparations for the LaLiga match against Espanyol and completed an intense training session
        at Ciudad Real Madrid on Wednesday. The highlights of the session included an intense 1v1 exercise, with a strong focus on defensive and attacking
        skills. See how Karim Benzema, Vini Jr., Eduardo Camavinga and the rest of the players were put through their paces.</h4>
    </div>
  </div>

  <hr style="height:2px; width:70%; border-width:0; color:#ffffff; background-color:black">

  <div>
    <div class="row" style="bottom: 5px; padding: 5px; color: #ffffff">
      <img alt="Uniform" src="/images/equipmentGetafe.jpg" />
      <h4 style="padding: 5px">More than a shirt, a feeling! Getafe's Home uniform for 2022 celebrates the 75-year history of the Spanish team.</h4>
    </div>
  </div>

  <hr style="height:2px; width:70%; border-width:0; color:#ffffff; background-color:black">

  <div>
    <div class="row" style="bottom: 5px; padding: 5px; color: #ffffff">
      <img alt="Champions Leage" src="/images/championsLeageCup.jpeg" width="1100"/>
      <h4 style="padding: 5px">Chelsea, Benfica, Bayern Munich and AC Milan were the first four to emerge from the round of 16 and enter the quarterfinals,
        joined this week by Manchester City, Real Madrid, Inter Milan and Napoli.</h4>
    </div>
  </div>

</div>

<div>
  <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>

<script type="text/javascript" src="/js/clock.js">
</script>

</body>
</html>