<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head::head}">
</head>
<body style="background-image: url('/images/refereeCover.jpg')">

<div>
    <nav th:replace="~{fragments/navigation :: navigation}"></nav>
</div>

<div class="container-fluid">

    <h2 class="text-center text-white mt-5">La Liga referees season 2022-2023</h2>

    <table id="referees-table" class="table table-primary opacity-50" style="background-color: rgba(126, 161, 217, 0.8);">
        <thead>
        <tr>
            <th></th>
            <th class="font-monospace">NAME</th>
            <th class="font-monospace">NATIONALITY</th>
        </tr>
        </thead>
        <tbody id="referees-container">
        <tr th:each="ref: ${referees}">
            <td> <a th:href="'http://localhost:8080/referees/' + ${ref.name}" > <img th:src="${ref.photoUrl}" width = '60vw' height = '60vw'  alt="Referee photo"> </a> </td>
            <td th:text="${ref.name} + ' ' + ${ref.lastName}"></td>
            <td> <img th:src="${ref.flagUrl}" width = '50vw' height = '30vw' > </td>
        </tr>
        </tbody>
    </table>

</div>

<div>
    <footer th:replace="~{fragments/footer :: footer}"> </footer>
</div>

</body>

</html>