<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head::head}">
</head>
<body style="background-image: url('/images/stadium.jpeg')">

<div>
    <nav th:replace="~{fragments/navigation :: navigation}"></nav>
</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Stadium: <p th:text="${stadium.name}"></p></h2>
    <div class="d-flex flex-row bd-highlight mb-3 bg-secondary bg-gradient">
            <div class="d-flex justify-content-evenly">
                <h3 class="text-center text-white mt-5" th:text="${stadium.info}"></h3>
            </div>
            <div class="d-flex justify-content-evenly">
                <img alt="Stadium photo" class="rounded" th:src="${stadium.photoUrl}"/>
            </div>
    </div>
</div>

<div>
    <footer> </footer>
</div>

</body>

</html>